<section class="module hero hero--large  justify-content-center" style="background-image: url(https://static1.squarespace.com/static/537a221fe4b0f28da150d7f2/t/53adedb3e4b00644e6da0e47/1403907510041/Cascade-Meadows.jpg)">
</section>



<!-- <div style="position: absolute; z-index: -99; width: 100%; height: 60%">
  <%= image_tag("https://static1.squarespace.com/static/537a221fe4b0f28da150d7f2/t/5390a13ae4b049a23aec4aa7/1401988250164/Mesa_Arch%2C_Canyonlands.jpg", :alt => "rss feed", :height =>"460", :width => "100%") %> -->
     <!-- <%= image_tag("yeah.jpeg", :alt => "rss feed", :height =>"100", :width => "220", :align=> "left") %>
 -->

      <section class="content"></section>

          <nav class="navbar navbar-fixed-top.scrolled, style="color: #F4F0F7" ">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <!-- <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span> -->
                </button>
               </div>
              </div>
            </div>
          <div class="collapse navbar-collapse navbar-fixed-top" id="bs-example-navbar-collapse-1">
            <h1 stlye="align: left; height: 30px;"><span>RLG | Capital</span></h1>
              <ul class="dropdown-menu">

                <li><%= link_to 'Overview', index_home_path %></li>
              </ul>
              <ul class="nav navbar-nav navbar-right" stlye="position: fixed;">
                <li style="bottom: 50px"><%= link_to 'Home', index_home_path %></li>
              <li style="bottom: 50px"><%= link_to 'Approach', approach_home_path %></li>
              <li style="bottom: 50px"><%= link_to 'Team', index_home_path %></li>
              <li style="bottom: 50px"><%= link_to 'Portfolio', index_home_path %></li>
              <li style="bottom: 50px"><%= link_to 'contact', contact_home_path %></li>
              <li style="bottom: 50px"><%= link_to 'Partner Login', index_home_path %></li>

                </ul>
              </div>
            </div>
         </div>
       </nav>




       <h1 style="text-align: center;">INVESTMENT CRITERIA </h1>

         <p1 style="margin-left: 30px;"><span1>Characteristics.</span1> We look for companies with proven business models, strong market potential, sustainable competitive advantages, and products or services that are disruptive to their industry -- companies that solve problems and satisfy demand through superior innovation, creativity, economics and execution.</p1>

         <p1 style="margin-left: 30px;"><span1>Size.</span1> We look for companies with EBITDA of $5-15 million or with an enterprise value of $20 to $100 million.</p1>

         <p1 style="margin-left: 30px;"><span1>Sectors.</span1> We invest in the sectors where our team has deep experience and has previously invested with success. Those sectors include aerospace, business services, consumer products, education, energy, entertainment, health, media, technology, and transportation.</p1>

         <p1 style="margin-left: 30px;"><span1>Location.</span1> We look for companies with a connection to Utah and the Mountain West, though we invest wherever we find the best opportunities.</p1>

         <p1 style="margin-left: 30px;"><span1>Amount.</span1> We look to invest a minimum of $5mm for a controlling interest in the voting shares of the company.</p1>

         <p1 style="margin-left: 30px;"><span1>Tenure.</span1> We typically hold our investments for a minimum of three years, actively working with management to execute our growth strategy until we accomplish a successful exit.</p1>

         <p1 style="margin-left: 30px; padding-bottom: 30px"><span1>Returns.</span1> We look for investments that we believe can reasonably achieve a minimum IRR of 25%.</p1>




         <!-- <div style="position: absolute; z-index: -99; width: 100%; height: 60%"> -->
           <!-- <%= image_tag("https://static1.squarespace.com/static/537a221fe4b0f28da150d7f2/t/5390a13ae4b049a23aec4aa7/1401988250164/Mesa_Arch%2C_Canyonlands.jpg", :alt => "rss feed", :height =>"460", :width => "100%") %> -->
         <!-- </div> -->
              <!-- <%= image_tag("arch.jpeg", :alt => "rss feed", :height =>"100", :width => "220", :align=> "left") %> -->
              <section class="module hero hero--large  justify-content-center" style="background-image: url(https://static1.squarespace.com/static/537a221fe4b0f28da150d7f2/t/53adedb3e4b00644e6da0e47/1403907510041/Cascade-Meadows.jpg)">
              </section>

         <h3 style="margin-top: 60px;">CO-INVESTORS</h3>

           <p1 style="margin-left: 30px;">We look to acquire a controlling interest, and invest our own capital in each deal.</p1>

           <p1 style="margin-left: 30px;">We originate, sponsor, and syndicate the deal by adding the right investment partners as co-investors. Our co-investors include family offices and institutional investors. We present them with completed term sheets under exclusivity, they determine the fit, and and then we jointly structure the transaction to preserve the core elements of the negotiated terms while presenting the best opportunity for business success and compelling returns.</p1>

           <h3 style="margin-top: 60px;">OPPORTUNISTIC, HANDS-ON AND COLLABORATIVE</h3>

           <p1 style="margin-left: 30px;">We are not restricted by an investment charter; thus, we are free to pursue deals where we believe we can add significant value regardless of location, industry or size. We are also able to custom fit the right deal to the right co-investor(s).</p1>

           <p1 style="margin-left: 30px;">We look for superior management teams and partner with them to tighten strategic plans, improve execution, and accelerate growth.</p1>

           <p1 style="margin-left: 30px;">We take board seats in each deal to help direct and drive business performance.</p1>


           <div id="footer-menu"><p>
           <a href="/news/">News</a>
           &nbsp;&nbsp;&nbsp;

           <a href="/contact-us/">Contact Us</a>
           &nbsp;&nbsp;&nbsp;

           <a href="/privacy-legal/">Privacy/Legal</a>
           </p>
           </div>
