<section class="module hero hero--large  justify-content-center" style="background-image: url(https://static1.squarespace.com/static/537a221fe4b0f28da150d7f2/t/53b598c7e4b060ad4bd34d33/1404410078616/Maziarz_Main_st_FINAL.jpg?format=2500w)">
</section>



<!-- <div style="position: absolute; z-index: -99; width: 100%; height: 60%">
  <%= image_tag("https://static1.squarespace.com/static/537a221fe4b0f28da150d7f2/t/5390a13ae4b049a23aec4aa7/1401988250164/Mesa_Arch%2C_Canyonlands.jpg", :alt => "rss feed", :height =>"460", :width => "100%") %> -->
     <!-- <%= image_tag("arch.jpeg", :alt => "rss feed", :height =>"100", :width => "220", :align=> "left") %> -->


      <section class="content"></section>

          <nav class="navbar navbar-fixed-top.scrolled, style="color: #F4F0F7" ">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <!-- <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span> -->
                </button>
               </div>
              </div>
            </div>
          <div class="collapse navbar-collapse navbar-fixed-top" id="bs-example-navbar-collapse-1">
            <h1 stlye="align: left; height: 30px;"><span>RLG | Capital</span></h1>
              <ul class="dropdown-menu">

                <li><%= link_to 'Overview', index_home_path %></li>
              </ul>
              <ul class="nav navbar-nav navbar-right" stlye="position: fixed;">
                <li style="bottom: 50px"> <%= link_to 'Home', index_home_path %></li>
              <li style="bottom: 50px"><%= link_to 'Approach', approach_home_path %></li>
              <li style="bottom: 50px"><%= link_to 'Team', index_home_path %></li>
              <li style="bottom: 50px"><%= link_to 'Portfolio', index_home_path %></li>
              <li style="bottom: 50px"><%= link_to 'contact', index_home_path %></li>
              <li style="bottom: 50px"><%= link_to 'Partner Login', index_home_path %></li>

                </ul>
              </div>
            </div>
         </div>
       </nav>
